.wrapper-main {
display: flex;
flex-flow: row wrap;
justify-content: center;
max-width: 2000px;
height: auto;
margin: 0 auto;
background-color:#194D4A;
}

.App {
    margin-top: 200px;
}

.logo {
    display: inline-block;
    box-sizing: border-box;
    height: inherit;
    width: inherit;
    margin-right: 1200px;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #09d3ac;
}

.transparent {
  background: red;
  opacity: .2;
}

.regular {
  background: lightblue;
}

.radio-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}


:root {
  --primary-color: #248ea9;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

/* Navbar */
.navbar {
    height: 200px;
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  background-color: #248ea9;
  position: fixed;
}


.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
height: 100%;
font-size: 1.6rem;

}

.navbar ul {
height: 90%;
    width: 500px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.navbar li {
list-style-type: none;
padding-top: 15%;
padding-bottom: 15%;
padding-right: 20%;

}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Submit Form */
