.wrapper-main {
display: flex;
flex-flow: row wrap;
justify-content: center;
max-width: 2000px;
height: 1000px;
margin: 0 auto;
background-color:#194D4A;
}

.App {
    margin-top: 200px;
}

.logo {
    display: inline-block;
    box-sizing: border-box;
    height: 150px;
    width: 150px;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #09d3ac;
}

.transparent {
  background: red;
  opacity: .2;
}

.regular {
  background: lightblue;
  display: flex;
  flex-flow: column wrap;
  width: 90%;
  height: 90%;
}

.radio-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}


:root {
  --primary-color: #248ea9;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

/* Navbar */
.navbar {
    height: 150px;
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  background-color: #248ea9;
  position: fixed;
}


.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
height: 100%;
font-size: 1.6rem;

}

#home-link {
    height: 100%;
    width: 150px;
    margin-right: 1200px;
}

.navbar ul {
    height: 150px;
    width: 500px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
}

.navbar li {
list-style-type: none;
padding: 20px 40px 40px 40px;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}


/* Login Form Styles */

.login-form {
    background-color: rgb(8, 31, 29);
    opacity: .7;
    border: 2px solid #ffffff;
    border-radius: 10px;
    height: 500px;
    width: 500px;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-field {
    margin: 1rem;
}

.login-button {
    margin-left: 3rem;
    padding: .4rem;
}

/* SignUp Form Styles */

.signup-form {
    background-color: rgb(8, 31, 29);
    opacity: .7;
    border: 2px solid #ffffff;
    border-radius: 10px;
    height: 500px;
    width: 500px;
    padding: 3rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.signup-field {
    margin: 1rem;
}

.signup-button {
width: 30%;
    padding: .4rem;
    align-self: center;
}

/* Responsive Breakpoints */

@media only screen and (max-width: 1400px) {

.App {
    margin-top: 300px;
}

.wrapper-main {
width: 100vw;
}

.navbar {
    height: min-content;
  display: flex;
  width: 100vw;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #248ea9;
  position: fixed;
}

.logo {
    display: inline-block;
    box-sizing: border-box;
    height: 150px;
    width: 150px;
}

#home-link {
    height: 150px;
    width: 150px;
    margin: 1rem;
}

.navbar ul {
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar li {
list-style-type: none;
padding: 20px;
width: 100%;
border-bottom: 2px solid #000000;
text-align: center;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
height: 100%;
width: 100%;
font-size: 1.6rem;
align-self: center;
}

.signup-form {
    background-color: rgb(8, 31, 29);
    opacity: .7;
    border: 2px solid #ffffff;
    border-radius: 10px;
    height: 450px;
    width: 450px;
    padding: 3rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.login-form {
    background-color: rgb(8, 31, 29);
    opacity: .7;
    border: 2px solid #ffffff;
    border-radius: 10px;
    height: 450px;
    width: 450px;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

}
